body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    margin: auto;
    width: 400px;
    text-align: center;
  }
  
  form {
    margin: 50px auto;
    width: 400px;
    
    display: grid;
    grid-template-rows: auto;
  
    gap: 5px;
    padding: 25px;
    border: 1px solid black;
  }
  
  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }